body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin:0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    white-space: nowrap;

    background-color: #1F2937;
    color: white;
    padding: 10px 0px;
}

.logo{
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    padding-left: 200px;
}

.header ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 200px;
    gap: 20px;
}

.header a, .secondary-text{
    text-decoration: none;
    color: #E5E7EB;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    font-size: 18px;
    padding: 100px 200px;
    gap: 200px;
}

.hero button{
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.hero img{
    width: auto;
    height: 300px;
}

.random-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px 100px;
}
.random-info img{
    width: 200px;
    height: auto;
    max-height: 150px;
    border-radius: 10px;
}
.info-box{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.info-box-element{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.quote{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    font-weight: 300;
    font-size: 36px;
    
    padding: 150px 300px 100px;
}